<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, size: '60x12' %>
  </div>
  <%= f.submit 'Create' %>
<% end %>
